/node_modules
/public/hot
/public/storage
/storage/*.key
/public/comprobantes
/public/img/alumn
/public/documentos
/public/tickets
/public/img/comprobantes
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor