    .classroom-container {
        width: 100%;
        background: #e2e2e2;
        min-height: 100vh;
    }

    .body {
        padding-top: 3rem;
        margin: 0px 1rem 0px 1rem;
    }

    .fixed {
        position: fixed;
        left: 0;
    }

    .btn-default {
        background: #fd7e14;
        border-color: #fd7e14;
        color: white;
        margin-bottom: 1rem;
        border-radius: 0px .25rem .25rem 0;
    }

    .btn-default:hover {
        background: green;
        border-color: green;
        color: white;
        margin-bottom: 1rem;
    }

    .header-li  {
        width: 100%;
        margin: .50rem 0 .50rem 0;
        float: right;
    }

    .w-100 {
        width: 100%;
    }

    .logo-container {
        position: fixed;
        bottom: 35px;
        background: rgba(255,255,255, 0.6);;
        border-radius: .25rem;
        left: 0;
        width: 10%;
        height: 20%;
        display: flex;
        justify-content: center;
    }

    .logo-container > img {
        width: auto;
        padding: 10px;
    }

    .card-body-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-body {
        cursor: pointer;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .btnSetClass {
        font-size: 20px;
        font-weight: 100;
    }

    button.active {
        background: green;
        border-color: green;
    }

    header {
        z-index: 1000;
    }

    .padding-cero {
        padding: 0px !important;
    }

    .margin-cero {
        margin: 0px !important
    }

    .green {
        background: green;
    }

    .info {
        margin: 1.5rem;
        height: 100%;
        width: auto;
    }

    .image-equipment {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    .image-equipment > img {
        width: 100%;
    }

    .image-title {
        margin-bottom: 1rem;
            line-height: 10px;
    }

    #equipment-label {
        font-size: 25px;
        font-weight: 700;
    }

    .hour-container {
        margin-top: 2rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .padding-top-1 {
        padding-top: 1rem;
    }

    .padding-leftandright {
        padding: 0 1rem 0 1rem
    }

    @media (min-width: 992px) {
        .modal-lg, .modal-xl {
            max-width: 920px;
        }
    }

    .options-img {
        width: 20%;

    }

    .flex-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-content:hover {
        cursor: pointer;
    }

    .info-footer {
        margin-top: 1rem;
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .info-logo {
        width: 100%;
    }

    .img-info {
        width: 20%;
        float: right;
        margin-bottom: 1rem;
    }

    p.size-letter {
        font-size: 14px;
    }