.login-form {
    width: 350px;
    margin-top: 16vh;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 20px;    
}

.margin-around
{
    margin: 0px 10px 0px 10px;
}

.footer-custom
{
    margin-bottom: 5vh;
    margin-top: -15px;
}

.radius
{
    border-radius: 20px;
    /*font-size: 20px !important;*/
}

.login-form a{
    color: black;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

.nav-custom
{
    background: orange;
}

.nav-custom-green
{
    background: #008000 !important;
}

.nav-custom-green .card-title
{
    font-weight: 600;
}

.footer-orange
{
    background: #fd7e14;
    color: white;
}

.nav-custom > .navbar-nav > .nav-item > a:hover
{
    color: green !important;
}

.back
{
    /*background: url(../img/temple/back.jpg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-top: 5%;
}

.back2
{
    background: url(../img/temple/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
/*    height: 100%;*/
    width: 100%;
    padding-top: 5%;
    display : flex
}

.content-custom
{
    width: 100%;
    min-height: 100vh;
    /*height: 100vh;*/
    display: flex;
}

header
{
    position: fixed;
    width: 100%;
    z-index: 100000;
}



/*Edicion desde aqui*/


.container-custom /*Tajeta_wrap*/
{
    width: 100%;
    max-width: 1200px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;

    /**/
    -webkit-perspective: 600px;
    perspective: 600px;
}

.container-custom .card2
{
    width: 300px;
    height: 340px;
    border-radius: 8px;
    box-shadow: 0px -1px 5px 3px rgba(0,0,0,0.2);
    /*overflow: hidden;*/
    text-align: center;
    transition: all 0.25;
    
    
}

.card2/*Tarjeta*/
{
    background: #fd7e14;
    position: relative;
    transform-style: preserve-3d;
    transition: ease .7s;
    
}


.front-card, .back-card
{
    width: 100%;
    top: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back-card
{
    transform: rotateY(180deg);
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-custom:hover .card2
{
    transform: rotateY(180deg);
}

.container .card2:hover
{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.parrafo-back{
    color: white;
}

/*Edicion hasta aqui*/

.card-image-rob
{
    width: 100%;
    height: 230px;
    background-color: white;
}

.titulo-cards
{
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: 600;
}

.parrafo
{
    text-align: left;
    margin: 10px;
    /*color: black;*/
    font-weight: 300;
}

#hero
{
    width: 100%;
    height: 678px;
    background-image: url(../img/temple/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}

.title h1
{
    font-size: 60px;;
    font-weight: 700;
    color: white;
}

.title span
{
    font-size: 30px;
    color: white;
}

.title
{
    padding-top: 30vh;
}

.contenedor
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.osos_alfa
{
    width: 10%;
    position: fixed;
    top: 75vh;
    left: 5%;
}

.card-custom
{
    margin-top: 2vh;
    border-radius: 20px;
}


.button-custom
{
    color: white;
    border-radius: 18px;
    background: #fd7e14 !important;
    /*font-size: 20px;*/
}

.button-custom:hover
{
    color: white;
}

.col-custom
{
    align-items: center;
    display: grid;
}

.feed
{
    height: 45vh;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 20px;
    margin-top: 0vh;
    margin-left: 4vh;
    width: 90%;
}

.feed2  
{
    height: 45vh;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 20px;
    margin-top: 5vh;
    
    width: 100%;
}


.feed_content
{
    padding: 5%;
    width: 100%;
    height: 100%;
    color: black;
}

.feed-header h1
{
    font-size: 40px;
}

.feed-body p
{
    font-size: 20px;
}

.bienvenida{
    margin-top: 15vh;
    margin-left: 3%;
    width: 50%;
    float: left;
    
    
}
.bienvenida h2{
    color: white;
    width: 70%;
    
}

.boton{
    width: 50%;
    margin: auto;
    background-color: #fd7e14;
    border-radius: 2px;
    border: #fd7e14;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);

}

.imagen-fondo{
    
    background-image: url("../img/temple/fondo.png");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   height: 100vh;
}

.recuperar{
    color: black;
    margin: auto;
}

.osos-title
{
        margin-top: 8vh;
    color: white;
    margin-left: 4%;
}

.osos-title h1
{
    padding-left: 1%;
}

.scroll-perfil
{
    height: 65vh;
    overflow-y: scroll;
}

.scroll-perfil p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Tamaño del scroll */
.scroll-perfil::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 /* Estilos barra (thumb) de scroll */
.scroll-perfil::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scroll-perfil::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.scroll-perfil::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.scroll-perfil::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.scroll-perfil::-webkit-scrollbar-track:hover, 
.scroll-perfil::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.flex-content
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.parraf-custom
{
    font-size: 30px;
    font-weight: 300;
    font-family: unset;
}

.scroll-charge
{
    height: 65vh;
    overflow-y: scroll;
}

.scroll-charge p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Tamaño del scroll */
.scroll-charge::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 /* Estilos barra (thumb) de scroll */
.scroll-charge::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scroll-charge::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.scroll-charge::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.scroll-charge::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.scroll-charge::-webkit-scrollbar-track:hover, 
.scroll-charge::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}


.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 0px auto;
    overflow: hidden;
    padding: 50px;
    color: #ffffff;
    background: #fd7e14;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}
.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}
.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}
.creditCardForm .CVV {
    width: 35%;
}
.creditCardForm #card-number-field {
    width: 100%;
}
.creditCardForm #expiration-date {
    width: 49%;
}
.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}
.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}
.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
}
@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}


td{
    padding: 6px 5px;
    font-size: 15px;
}

/* table, th, td {   
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center
} */


.tabla-info{
    margin-top: 32vh;
    width: 100%;
}

.tabla-fecha{
    margin-top: 10vh;
    width: 90%;
    
    margin-left: 75%;
    
}

.celdas-vacias{
    height: 25vh;
}

.celdas-fecha{
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 12px;
   
}

.tabla-div{
    margin-top: 32vh;
    border: 1.5px solid black;
    width: 100%;
    height: 100vh;
}

#texto-constancia{
    width: 88%;
    padding-left: 5%;
    margin-right: 50%;
    margin-top: 5%;
    text-align: justify;
    margin-bottom: 10%;
}

.texto-firmas{
    letter-spacing: normal !important;
    font-size: 12px;
    padding-bottom: 0px;
    padding-top: 2.5%;
}

.texto-enunciado-firma{
    letter-spacing: 16%; 
    font-size: 14px; 
    padding-bottom: 5%;
    padding-top: 0px;
}

.tabla-firmas{
    
    width: 450px; 
    
    
}

.texto-enunciado-firma2{
    letter-spacing: 16%; 
    font-size: 14px; 
    padding-bottom: 3%;
    padding-top: 0px;
}

#tabla-de-tablas-firma{
    border: none !important; 
    width: 100%;
    margin: 1.5%;
    margin-top: 10%;
}

.capitalize
{
    text-transform: uppercase;
}

.box-enrollement
{
    width: 40%;
    height: 60vh;
    border-radius: 
    22px;
}

@media (max-width: 992px)
{
  .box-enrollement
  {
    width: 80%;
    height: 60vh;
  }
}

@media (max-width: 993px)
{
  .login-form
  {
    width: 85%;
    margin-left: 7%;
    margin-top: 5vh;
  }

  .feed
  {
    margin-left: 5% !important;
  }
}

#preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ee661a;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000000; }

#original-load {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #f1f1f1;
  -webkit-animation: original 2400ms linear infinite;
  animation: original 2400ms linear infinite;
  z-index: 999; }
  #original-load:before {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    right: 7.5px;
    bottom: 7.5px;
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #f1f1f1;
    -webkit-animation: original 2700ms linear infinite;
    animation: original 2700ms linear infinite; }
  #original-load:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #f1f1f1;
    -webkit-animation: original 1800ms linear infinite;
    animation: original 1800ms linear infinite; }

@-webkit-keyframes original {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes original {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }



.link-custom:link
{
    color: white !important;
}

.link-custom:visited
{
    color: white !important;
}

.link-footer
{
    color: blue !important;
}

.header-link
{
    color: white !important;
    font-weight: 700;
    font-size: 15px;
}

.nav-item > .header-link:hover
{
   background: #28a745;
   border-radius: 15px;
}

.parrafo-login
{
    font-weight: 800;
    font-size: 17px;
}

.dropdown-toggle::after
{
    color:white !important;
}

a
{
    color: orange;
}